<h1>Programming Fundamentals: Introduction</h1> <a name="intro"></a>
Python can be used with several development environments like <code><b>Spyder, PyCharm, Rodeo, Atom, Jupyter Notebook</b></code>, etc. (for more see, <a><a href="https://www.datacamp.com/community/tutorials/data-science-python-ide">https://www.datacamp.com/community/tutorials/data-science-python-ide</a>).
   
   We will use <b>Jupyter Notebook</b>.

- "Notebook" or "notebook documents" denote documents that contain both code and rich text elements, such as figures, links, equations, ... Because of the mix of <b>code and text elements</b>, these documents are the ideal place to bring together an analysis description, and its results, as well as, they can be executed to perform the data analysis in real time.The Jupyter Notebook App produces these documents. Jupyter Notebook App allows you to edit and run your notebooks via  web browser. The application can be executed on a PC without Internet access, or it can be installed on a remote server, where you can access it through the Internet.
- <b>Opening Jupyter Notebook</b>: In <i>Command Prompt</i> or <i>Anaconda Prompt</i> type <b><code>jupyter notebook</code></b>. Then click to <i>New</i> - <i>Python 3</i>, the JN script will be opened and you can start coding.
- The Texts represented here are Formatted with Markdown.
  - You can add Pictures to Jupyter Notebook
  - You can add Functions with fancy style: $g(x, y) = x + y$

![BDG Image](https://bdg.am/wp-content/uploads/2024/11/Asset-3@2x.png)

<h5>There are some certain ways of writing and naming variables in Python</h5>

- PascalCase
- camelCase
- kebab-case
- snake_case

##### When using Markdown, there are certain characters that helps formatting text

- \  - escape character
- \t - tab
- \n - new line
- \b - backspace

In [4]:
print(" \b Yerkar Naxadasutyun.\n\t Nor Parberutyun")

 Yerkar Naxadasutyun.
	 Nor Parberutyun

<h1>Data types & variables </h1> <a name="types"></a>

The basic data types in Python (objects that can store data) are:
The basic data types in Python (objects that can store data) are:
- [int - stores an integer number](#int)
- [float - stores a floating point number (a number with decimals)](#float)
- [str - stores a textual string (is always written inside quotes)](#str)
- [bool - stores boolean (logical) values (True or False)](#bool) 

Other data types (such as complex numbers) also exist but are out of the scope of this lecture.
<br>
To create an object (a variable) in Python **=** sign is used for assignment.
- When used, the value on the right will be assigned to the object on the left.
- Python allows multiple assignments on the same line as well: a,b = 1,2 (a will become 1 and b will become 2)
- **type()** is a built in function which can check the type of an object (int, str etc.).
- The data types can also be used as functions to convert the type of a variable (e.g. int(5.7) will produce 5, by extracting an integer from a floating point number).
- **print()** function can be used to print the content (value) of an object. If not used, the value of an object will still be shown. Yet, if print() is not used, only the last one of multiple objects will be shown.
- **#** (hashtag) sign is used to write comments in Python. Whenever used, anything on the right hand side will become a comment and will not be executed as code.
- Each data type in Python has its own operations. For example, substruction operations is available for int but not for str.

### Overview

In [9]:
# 1 is an object in Python
8

8

In [13]:
A = 8 
print(A) 
B = A
print(B)
print(A) 
A = 5
print(A)
print(B)

8
8
8
5
8

In [15]:
print(A)
print(B)
print(type(A))
print(type(B))
print(type("anton"))

5
8
<class 'int'>
<class 'int'>
<class 'str'>

In [16]:
# 1 is part of buid-in class "int"
some_text = "BDG"
print(type(some_text))

<class 'str'>

In [17]:
# only 2 will be shown (the last one)
1
2
5

5

In [18]:
# as print was used, both 1 and 2 will be shown
print(1)
print(2)
1
2

1
2

2

In [19]:
# assigning 1 value to an object called "a"
# printing the value
a = 1
b = a 
print(b)
# ==

1

In [20]:
# Type of "a" is int
type(a)

int

In [21]:
a,b = 2,5
some_text, course = "BDG", 2

In [25]:
print(some_text)

BDG

In [26]:
# multiple assignments on the same line
# sintactic sugar ex (int, str, type, bool -> magic functions)
a, b, c = 1, "some text", len([1,2,3])
print(a)
print(b)
print(c)

1
some text
3

## <a name="int" href="https://docs.python.org/3.4/library/stdtypes.html#numeric-types-int-float-complex">Integers</a> 

Integers (int) are the integer numbers in mathematics and can complete the following operations: summation (+), substruction (-), division (/), multiplication (*), exponentiation (**), modulus (%).

In [29]:
print(5+2) # summation
print(5-2) # substruction
print(5*2) # multiplication
print(5/2) # division
print(5**2, "Power") # exponentiation
print(10%3, "Module -> 10 = 3 * 3 + 1") # modulus (gives the residual after division)
print(5//2, "Int Division", "line 7")
int_div_value = 5//2
print(f"{int_div_value} Int Division line 7")

7
3
10
2.5
25 Power
1 Module -> 10 = 3 * 3 + 1
2 Int Division line 7
2 Int Division line 7

In [30]:
A = 2.5
print(f"{A} is a float number")
A = 5.0
print(f"{A} is a float number")

2.5 is a float number
5.0 is a float number

In [33]:
str_number = "125"
print(type(str_number))
number = int(str_number)
print(type(number))
print(number)

<class 'str'>
<class 'int'>
125

In [34]:
float_numb = 2.569
int_num = int(float_numb)
print(int_num)
print(round(float_numb))

2
3

## <a name="float" href="https://docs.python.org/3.4/library/stdtypes.html#numeric-types-int-float-complex">Float </a>

Floats (float) are the floating point (decimal) numbers. For example, 2.5. The operations applied on floating point numbers are the same as on integers. One may convert float to an int and viceversa using same name functions. When int is converted to float, just a ".0" will be added to visually indicate it is a floating point number. Yet, when float is converted to int, only integer part will be left (i.e. no rounding up operation will be conducted). For example, int(5.9) will result in 5 (not 6).

In [35]:
var_int = 5
type(var_int)

int

In [36]:
var_float = 5.9
type(var_float)

float

In [37]:
float(var_int)

5.0

In [38]:
float(-5)

-5.0

In [39]:
float("Napastak")

ValueError: could not convert string to float: 'Napastak'

## Built-in functions for basic numerical (mathematical) operations
Some built-in functions used in math are abs(), max(), min(), pow(), round(). There is no explicit function to calculate square root, but one can use pow() or "**" operation to do that.

In [40]:
print('abs', abs(-5)) # calculating absolute value
print('max', max(3, -5, 9)) # calculating max value
print('max list', max([5,8,9,1])) # get max value of list
print('min', min(4, -4, -5, 0)) # calculating min value
print('pow', pow(2, 3)) # taking power up
print('round', round(6.7777777, 3)) # rounding up to 3 decimals
print('sum', sum((5, 4, 2)))

print(round(452.2555546464648, 3))
# 2.5 -> 2 Gaussian Rounding
# 3.5 -> 4

# Syntactic sugar

abs 5
max 9
max list 9
min -5
pow 8
round 6.778
sum 11
452.256

In [45]:
a = f'''
eqefiquegfiqegfiqegfigefigefiqegfq
{"Arjeq"} uewgfiqgefiqwefg''egufq'g'
evfiqevfqefi'
qhefvuqefvif 
'''
print(a)

eqefiquegfiqegfiqegfigefigefiqegfq
Arjequewgfiqgefiqwefg''egufq'g'
evfiqevfqefi'
qhefvuqefvif

## <a name="str" href="https://docs.python.org/3.4/library/stdtypes.html#text-sequence-type-str">Strings</a>

Strings (str) are the textual objects. They are always written inside single or double quotes. Strings are "stronger" type than numerical data types, as any numeric value can be also stored as string (e.g. "5" is a string), yet NOT any string can be stored as an integer or a float (e.g. "text" cannot anyhow be converted to a numeric value, yet 10 can be converted to string with quotes: "10").

- The strings in Python can be summed up with each other. Summation of strings yield to their concationation.
- Strings can also be multiplied with integers which will yield the repition of strings.
- Elements (characters) from a string can be selected using square brackets. As the enumeration in Python starts from 0, the very first character can be selecte dusing [0]. The last character can be selected using [-1].

In [46]:
name = "Karen"
type(name)

str

In [50]:
name[:2]

'Ka'

In [48]:
name[1:3]

'ar'

In [53]:
# reverse Ordering
name[::-1]

'neraK'

In [56]:
var_str = "7"
var_str_v1 = int(var_str)
print( var_str_v1)

7

In [57]:
# converted a string (with numerical value) to an integer
int(var_str)

7

In [58]:
# trying to convert textual value to an integer yields an error
int(name)

ValueError: invalid literal for int() with base 10: 'Karen'

In [59]:
# reverse the list
list_of_num = [5, 2, 6]
list_of_num[::-1]

[6, 2, 5]

In [60]:
name + " Bacarat " + name

'Karen Bacarat Karen'

In [61]:
print(name + " " + name +" " + "Ayvazyan")

Karen Karen Ayvazyan

In [64]:
(name + " ") * 3 + ("&" + "7")

'Karen Karen Karen &7'

## <a name="bool" href="https://docs.python.org/3.4/library/stdtypes.html#truth-value-testing">Boolean</a>

Boolean (bool) objects attain only two values: True or False. False is encoded as 0 and True is encoded as 1 in Python. Booleans are usually the result of comparison or logical operations. Those operations are:

- **==** - equivalence. Yields True if the value on the left equals to the value on the right, and False otherwise.  
- **!=** - not equivalent. Yields True if value on the left is not equal to the value on the right. 
- **in** - test whether the value on the left can be found inside the object on the right
- **not** - negation operation, can be used with **in**
- **and** - and operator to combine two or more conditions. Both should be satified to yield True.
  - **&** sign should be used instead of **and** when arrays (vectors) are tested for conditions.
- **or** - or operator to combine two or more conditions. Yields True even if one of the conditions is satisfied.
  - **|** sign should be used instead of **or** when arrays (vectors) are tested for conditions.
- **<** - less than
- **<=** - less than or equal to
- **>** - greater than
- **>=** - greater than or equal to

In [65]:
if "Karen"=="karen":
    print("Karen"*5)
else:
    print("Not Equal")

Not Equal

In [68]:
# "Karen"!="karen"
"Karen" not in ["karen"]

True

In [72]:
"Karen Manukyan".split(sep=" ")

['Karen', 'Manukyan']

In [71]:
"K" not in "Karen".split()

True

In [73]:
"Karen-Sahakyan".split(sep='-')

['Karen', 'Sahakyan']

In [ ]:
Y

In [74]:
5>5

False

In [75]:
5>=5

True

In [76]:
5<6

True

In [77]:
5<=6

True

# <a href="https://docs.python.org/3.4/library/stdtypes.html#string-methods">String methods</a>

Each object type has its own operations. Similarly each object has its own functionalities that are available only for that object. Those functions are called methods and are available after insteading a dot following object's name. Several of string methods are:
- upper() - makes the string uppercase
- lower() - makes the string lowercase
- find() - finds a given charater in a string. Returns its index or -1 if not found
- split() - splits the sting based on a given character
- count() - counts the numer of occurancies of a given character
- many other methods which can be accessed after inserting the dot and pressing TAB

In [78]:
my_str = "Galstyan"

In [79]:
print(f"{my_str.upper()}")

GALSTYAN

In [80]:
print(f"{my_str.lower()}")

galstyan

In [81]:
print(f"{my_str.find('y')}")

5

In [82]:
print(f"{my_str.find('o')}")

-1

In [83]:
# split the string based on the 'key' 
st = 'The answer to the question you asked—which Ill rephrase a bit as  no, you dont have to set an upstream at all.'
decomposed_str = st.split(" ")
print(decomposed_str)

['The', 'answer', 'to', 'the', 'question', 'you', 'asked—which', 'Ill', 'rephrase', 'a', 'bit', 'as', '', 'no,', 'you', 'dont', 'have', 'to', 'set', 'an', 'upstream', 'at', 'all.']

In [84]:
#count how many types 'a' appears in the text
my_str.count("a")

2

In [86]:
new_st = '////'.join(decomposed_str)
print(new_st)

The////answer////to////the////question////you////asked—which////Ill////rephrase////a////bit////as////////no,////you////dont////have////to////set////an////upstream////at////all.

In [ ]:
%%time
letter = input("Please insert some value:")
print(type(letter))

Y = letter if letter.lower()[0] =="k" else "Name Doesn't start with k"

In [ ]:
%%time
letter = input("Please insert some value:")
print(type(letter))

if letter.lower()[0] == "k":
    print(letter)
else:
    print("Name Doesn't start with k")
    
print(Y)